<p>dashboard</p>
<!-- 
<button (click)="signInClicked()">Sign In</button>
    <span>Signing in... {{ user | async }}</span> -->

    <div *ngIf="(uo | async) as user else signIn" >
        <div>Welcome back! </div>
        <div>Username: {{user.UserName}}</div>
        <div>{{user.FirstName}} {{user.LastName}}</div>
        <div>cB: {{user.Cash}}</div>
    </div>

    
    <ng-template #signIn>              
        <div>Sign in! </div>
        <form ngNativeValidate class="modal-body" (ngSubmit)="signInClicked(loginForm)" #loginForm="ngForm" >
            <input class="form-control" type="text" name="emailAddress" placeholder="email address" required ngModel />
            <input class="form-control" type="password" name="password" placeholder="password" required ngModel />
            <button class="btn btn-primary btn-block" type="submit">Login</button>
        </form>

        <a [routerLink]="['/signup']"> Sign Up! </a>
    </ng-template>

    <div>
        <h2>Search by username</h2>
        
        <form>
            <input class="form-control" type="search" name="search" placeholder="search" [(ngModel)]="this.searchQuery" />
            <button class="btn btn-primary btn-block" type="submit" (click)="usernameSearch(searchQuery)">Search</button>
        </form>
        
        <ul *ngIf="searchResult">
            <li *ngFor="let user of searchResult.Users">Result: <a [routerLink]="['/user/' + user.UserName]">{{ user.UserName }}</a></li>
            <li *ngIf="searchResult.Users.length == 0">No results</li>
        </ul>
    </div>