<div *ngIf="(user | async) as activeUser">
    <div id="message-sidebar" style="float:right">
        Hello {{activeUser.UserName}} here are your friends
        <br><br><br>
        <div *ngFor="let friend of friends | async;"> 
            <div *ngIf="extractFriendName(friend, activeUser) as friendUserName">
                <a [routerLink]="['/user/' + friendUserName]">{{ friendUserName }} - Accepted: {{friend.Friendship.Accepted}}</a>
            </div>
        </div>

        <button type="submit" (click)="fetchMessages()">get more messages</button>

        <div>Channels</div>
        <div *ngFor="let channel of (channels | async)" (click)="openChannel(channel)">
        <b>Conversation: {{channel.Channel.Name}}</b>
        <div *ngIf="getMessagePreview(channel) as prev; else emptyConvo">
            <i> {{prev.BodyPreview}} {{[prev.DateSent]}} </i>
            <div>{{prev.Sender.UserName}}</div>
        </div>
        <ng-template #emptyConvo><i>It's quiet...</i></ng-template>
        </div>

        <br><br><br>
        <div>New Messages!</div>
        <div *ngFor="let mess of (messages | async).slice(0, 20)">
            {{ mess.Message.MessageId }}
        </div>
    </div>

    <div id="bottom-bar-message-host">
        <div *ngFor="let channel of activeChannels;"> 
            <message-popup [channel]="channel"></message-popup>
        </div>
    </div>
</div>